/* I probably won't use these but I'm using these css variables to keep
track of the hex colors. */
:root {
    --background-color: #222;
    --foreground-color: #eee;
    --primary-color: #008d3e;
    --secondary-color: #008dde;
}

* {
    box-sizing: border-box;
}

html, 
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 12pt;
    line-height: 1.5;
}

body {
    font-family:'IBM Plex Mono';    
    color: #eee;
    background:#222;
}

header {
    margin: 0 auto;
    padding: 3rem 1rem;
    max-width: 45rem;
}

main {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 45rem;
}

footer {
    margin: 0 auto;
    margin-top: 3rem;
    max-width: 45rem;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Slab", sans-serif;
    color: #007031;
}

h1 {
    font-size: 3rem;
    color: #eee;
}

a {
    color: #007031;
}

.highlite {
    color: #007031;
}

.name {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 0;
}

.blurb {
    margin-top: 0;
    padding-top: 0.5rem;
}